{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="continaer">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="text-center mt-2">Drinks At Bottega Pia</h2>
        </div>
    </div>
     <!-- Wine menu -->
    <div class="row mb-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3 class="mb-4 text-center">Wine</h3>
            {% if drinks_items.wine_items %}
            {% for drinkitem in drinks_items.wine_items %}

            <h5> {{ drinkitem.drink_name }} </h5>
            <em> <p> {{ drinkitem.description }} </em> | <strong>€{{ drinkitem.price}}</strong></p>
            
            {% endfor %}
            {% endif %}

        </div>
    </div>
    <!-- Water & Soft drinks -->
    <div class="row mb-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3 class="mb-4 text-center">Water and Soft Drinks</h3>
            {% if drinks_items.water_softdrinks_items %}
            {% for drinkitem in drinks_items.water_softdrinks_items %}

            <h5> {{ drinkitem.drink_name }} </h5>
            <em> <p> {{ drinkitem.description }} </em> | <strong>€{{ drinkitem.price}}</strong></p>
            

            {% endfor %}
            {% endif %}

        </div>
    </div>
     <!-- apéritif menu -->
     <div class="row mb-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3 class="mb-4 text-center">Apéritif/Teas/Coffee</h3>
            {% if drinks_items.apéritif_items %}
            {% for drinkitem in drinks_items.apéritif_items %}

            <h5> {{ drinkitem.drink_name }} </h5>
            <em> <p> {{ drinkitem.description }} </em> | <strong>€{{ drinkitem.price}}</strong></p>
            

            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}