{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Homepage content -->
<div class="container-fluid text-center">
    <div class="row content mt-1 d-flex justify-content-center">
        
        <div class="col-12">
            <h1>Welcome</h1>
            <p>Welcome to Bottega Pia, restaurant, wine shop and bistro. The restaurant is welcoming and cared for down
                to the smallest detail, designed for those who want to "Eat and feel good". The cuisine proposed by our
                chefs is a traditional cuisine that uses local products and raw materials from the national territory.
                <br>
                This is the place where food meets passion, creating a perfect combination that will enchant all your
                senses. The friendly staff and the warm and private atmosphere will make you feel at home.</p>
            <hr>
            <!-- Menus & Reservation images and page links -->
            <div class="row content mb-5 d-flex justify-content-center">
                <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
                    <div>
                        <a href="{% url 'menus' %}" class="page-link">
                        <img src="https://res.cloudinary.com/dqw7grg7l/image/upload/v1664441119/pp4food_btvz7v.jpg" class="img-thumbnail" alt="Garlic and battered meatballs">
                        
                            <h3>Menus</h3>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
                    <div>
                        <a href="{% url 'reservations' %}" class="page-link">
                        <img src="https://res.cloudinary.com/dqw7grg7l/image/upload/v1664441119/PP4-table_x0hbqk.jpg" class="img-thumbnail" alt="Table of good with glasses of water and wine">
                        
                            <h3>Reservations</h3>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}